.hero
  &-wrap
    background-color: #F1F1F3
    height: 528px
    z-index: 0
  &-block
    display: flex
    flex-direction: row
    position: relative
    justify-content: space-between
    align-items: center
    height: 100%
    &__text
      display: block
      flex-direction: column
      margin-top: -50px
      width: 50%
    &__content
      display: flex
      flex-direction: row
      align-items: center
    &__heading
      font-family: "Inter", sans-serif
      font-weight: 700
      font-size: 60px
      line-height: 68px
      color: #162136
    &__content
      font-family: "Inter", sans-serif
      font-weight: 600
      font-size: 18px
      line-height: 28px
      color: #162136
      display: flex
      flex-direction: row
      align-items: center
      padding: 10px 16px 10px 16px
      border-radius: 40px 
      background-color: #fff
      width: max-content
      margin-top: 14px
    &__icon
      display: flex
      justify-content: center
      align-items: center
      margin-right: 15px
    &__image
      height: 100%
      position: absolute
      bottom: 0
      right: -100px
      display: flex
      justify-content: flex-end
      align-items: flex-end
      z-index: 1
.wraper
  height: 100%
